<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание рейса (шаг 1/2)</title>
    <th:block th:include="header :: header"/>
</head>
<body>
<div th:replace="menu :: menu"></div>
<div class="container mt-5">

    <h4>Создание рейса (шаг 1/2)</h4>
    <div class="row">
        <div class="col-5">

            <p th:if="${errorAdd eq true}" style="color: red">Рейс не добавлен</p>

            <form th:method="POST" class="row g-1" th:action="@{/flights/add}" th:object="${flight}">
                <div class="col-8">
                    <label for="inputflightNumber" class="form-label">Номер рейса</label>
                    <input type="text" class="form-control" id="inputflightNumber" name="flightNumber"
                           th:field="*{flightNumber}">
                </div>
                <div class="w-100"></div>

                <div class="col-8">
                    <select class="form-select" aria-label="pos" name="airportDepartureCodIATA">
                        <option selected>Аэропорт отправления</option>
                        <th:block th:each="airport : ${airports}">
                            <option><span th:text="${airport.codIATA}"></span></option>
                        </th:block>
                    </select>
                </div>


                <div class="w-100"></div>

                <div class="col-8">
                    <select class="form-select" aria-label="pos" name="airportArrivalCodIATA">
                        <option selected>Аэропорт прибытия</option>
                        <th:block th:each="airport : ${airports}">
                            <option><span th:text="${airport.codIATA}"></span></option>
                        </th:block>
                    </select>
                </div>

                <div class="w-100"></div>

                <div class="col-8">
                    <select class="form-select" aria-label="pos" name="airportReserveCodIATA">
                        <option selected>Аэропорт резервный</option>
                        <th:block th:each="airport : ${airports}">
                            <option><span th:text="${airport.codIATA}"></span></option>
                        </th:block>
                    </select>
                </div>

                <div class="w-100"></div>
                <div class="col-8">
                    <label for="inputtimeDeparture" class="form-label">Время вылета</label>
                    <input type="datetime-local" class="form-control" id="inputtimeDeparture" name="timeDeparture"
                           th:field="*{timeDeparture}">
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    <label for="inputtimeArrival" class="form-label">Время прилета</label>
                    <input type="datetime-local" class="form-control" id="inputtimeArrival" name="timeArrival"
                           th:field="*{timeArrival}">
                </div>
                <div class="w-100"></div>

                <div class="col-8">
                    <select class="form-select" aria-label="pos" name="airplane">
                        <option selected>Самолет</option>
                        <th:block th:each="airplane : ${airplanes}">
                            <option><span th:text="${airplane.model}"></span></option>
                        </th:block>
                    </select>
                </div>

                <div class="w-100"></div>

                <div class="w-100"></div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
        <div class="col-5">
            <p>Добавить новый аэропорт</p>
            <p th:if="${param.airportSuccess}" style="color: green">Aэропорт успешно добавлен</p>
            <p th:if="${param.airportError}" style="color: red">Aэропорт не добавлен</p>

            <form th:method="POST" class="row g-1" th:action="@{/flights/add/airport}" th:object="${airport}">
                <div class="col-8">
                    <label for="name" class="form-label">Название аэропорта</label>
                    <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    <label for="codIATA" class="form-label">Код IATA</label>
                    <input type="text" class="form-control" id="codIATA" name="codIATA" th:field="*{codIATA}">
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    <label for="cityName" class="form-label">Название города для привязки погоды(латиницей)</label>
                    <input type="text" class="form-control" id="cityName" name="cityName" th:field="*{cityName}">
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>


<th:block th:include="footer :: footer"/>
</div>
</body>
</html>