<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аэрофлот</title>
    <th:block th:include="header :: header"/>
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container mt-5">
    <h4>Новости компании</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus.
        Massa tempor nec feugiat nisl pretium fusce. Vivamus at augue eget arcu dictum varius duis at consectetur.
        Nunc sed id semper risus. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat. Id donec ultrices
        tincidunt arcu non. Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Sem fringilla ut
        morbi tincidunt augue interdum velit euismod in. Habitant morbi tristique senectus et netus et malesuada fames ac.
        Viverra adipiscing at in tellus integer.</p>
    <h4>О компании</h4>
    <p>Ultricies tristique nulla aliquet enim tortor at auctor. Neque aliquam vestibulum morbi blandit cursus risus.
        Suspendisse sed nisi lacus sed. Mollis nunc sed id semper risus. Ut porttitor leo a diam. Sagittis vitae et leo duis
        ut diam quam nulla porttitor. Molestie ac feugiat sed lectus vestibulum mattis. Congue quisque egestas diam in arcu cursus.
        Enim eu turpis egestas pretium. Cursus sit amet dictum sit amet justo. Pharetra magna ac placerat vestibulum lectus.
        Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed.</p>

    <h4>О приложении</h4>
    <p>Система Аэрофлот. Администратор формирует летную Бригаду (пилоты, штурман, радист, стюардессы) на Рейс.
        Каждый Рейс выполняется Самолетом с определенной вместимостью и дальностью полета. Рейс может быть отменен из-за
        погодных условий в Аэропорту отлета или назначения. Аэропорт назначения может быть изменен в полете из-за
        технических неисправностей, о которых сообщил командир.
    </p>
    <th:block th:include="footer :: footer"/>
</div>
</body>
</html>