<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аэрофлот</title>
    <th:block th:include="header :: header"/>
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container mt-5">

    <p>Таймлиф Система Аэрофлот. Администратор формирует летную Бригаду (пилоты, штурман, радист, стюардессы) на Рейс.
        Каждый Рейс выполняется Самолетом с определенной вместимостью и дальностью полета. Рейс может быть отменен из-за
        погодных условий в Аэропорту отлета или назначения. Аэропорт назначения может быть изменен в полете из-за
        технических неисправностей, о которых сообщил командир.
    </p>
    <th:block th:include="footer :: footer"/>
</div>
</body>
</html>